# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarised.

__Objectives__

* List popular languages used by data scientists
* List popularly used data libraries
* List open source data science tools
* Perform some arithmetic queries using python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. SQL

#### Some of the commonly used data libraries by Data Scientists are:

1. matplotlib
2. NumPy
3. Scikit-learn
4. Pandas

#### Popular open source Data Science Tools:

|Data Science Tools|
|-------------------|
|MySQL|
|Ceph|
|PostgreSQL|

### Below are a few examples evaluating arithmetic expressions in Python

##### This is a simple arithmetic expression to multiply then add integer

In [1]:
(3*4)+5

17

##### This will convert 200 minutes to hours by dividing by 60

In [2]:
(200/60)

3.3333333333333335

## Author
##### Aneela Singh